@import "/home/megha/.local/share/tinted-theming/tinty/artifacts/waybar-colors-file.css";

* {
    border: none;
    font-size: 14px;
    font-family: "Iosevka Nerd Font", "Iosevka Nerd Font Mono", monospace;
    min-height: 20px;
    color: @base05;
}

window#waybar {
    background: transparent;
}

.modules-center,
.modules-left,
.modules-right {
    border-radius: 15px;
    margin-top: 8px;
    background: @base01;
    color: @base05;
}

.modules-left {
    margin-left: 18px;
}

.modules-center {
    margin-left: 8px;
}

.modules-right {
    margin-right: 18px;
}

#battery,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#jack,
#tray,
#window,
#workspaces,
#clock {
    padding-left: 10px;
    padding-right: 10px;
    color: @base05;
}

#workspaces button {
    margin-top: 4px;
    margin-bottom: 4px;
    color: @base05;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active,
#workspaces button.focused {
    color: @base00;
    background: @base0D;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @base00;
    background: @base08;
}

#workspaces button:hover {
    background: @base02;
    color: @base05;
}

#clock {
    color: @base05;
    font-weight: bold;
}

#temperature.critical,
#pulseaudio.muted {
    color: @base08;
    padding-top: 0;
}

#battery.charging {
    color: @base00;
    background-color: @base0B;
    border-radius: 8px;
}

#battery.warning:not(.charging) {
    background-color: @base09;
    color: @base00;
    border-radius: 8px;
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: @base00;
    border-radius: 8px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @base05;
        color: @base00;
    }
}

window#waybar.empty #window {
    padding: 0;
    opacity: 0;
    margin: 0;
}

window#waybar #window {
    border-radius: 10px;
    margin: 2px;
    color: @base05;
}
